.match-fixture{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}
.date{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: auto;
    justify-content: center;
}